.aboutImg2 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .aboutImg2 {
    max-width: 100vw;
    border-radius: 20px;
  }
}