.background {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 0.5fr 4fr 1fr;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 8px 0 lightgray;
  border-radius: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 30px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.add {
  display: flex;
  justify-content: center;
  font-size: 27px;
  margin-bottom: 40px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.label {
  text-align: left;
  color: #808080;
  font-size: 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.pictureHolder {
  border-radius: 50%;
  margin-bottom: 15px;
}
.button {
  margin-top: 5px;
  transition: transform 0.2s;
  cursor: pointer;
  margin-bottom: 15px;
  height: 40px;
  width: 70px;
  padding: 0px;
  border: none;
  background-color: #e5e6de;
  outline: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0 lightgrey;
  font-size: 12px;
  line-height: 1.2;
}

.buttonLabel {
  margin-top: 5px;
  transition: transform 0.2s;
  cursor: pointer;
  margin-bottom: 15px;
  height: 40px;
  width: 70px;
  padding: 0px;
  border: none;
  background-color: #e5e6de;
  outline: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0 lightgrey;
  font-size: 12px;
  line-height: 1.2;
}

.progress {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 0px;
}
input[type="file"] {
  display: none;
}
.uploadButtonsDiv {
  display: flex;
  align-items: center;
}
.buttonDiv {
  margin-bottom: 30px;
}
.buttonDiv2 {
  margin-bottom: 30px;
}

.buttonUpload1 {
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: transform 0.2s;
  background-color: #e5e6de;

  margin-top: 12px;
}
.buttonUpload2 {
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: transform 0.2s;
  background-color: #e5e6de;

  margin: 5px;
  margin-left: 0px;
}
.buttonUpload2:hover,
.buttonUpload1:hover {
  background-color: #28a535;
  color: white;
}
.arrowIcon {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.insert {
  background-color: #696f45;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  border: none;

  box-shadow: 0px 0px 8px 0 lightgray;
  outline: none;
  transition: transform 0.2s;

  font-size: 18px;
  padding: 10px;
  width: fit-content;
}
.insert:hover {
  background-color: #28a535;
}
.spanclass {
  grid-column: 2/3;
  grid-row: 3/4;

  display: flex;
  justify-content: center;

  padding: 20px;
}
.spanclass a {
  color: #097eeb;
  width: 60px;
}
.area {
  z-index: -1;
  background: white;
  width: 100%;

  grid-column: 1/4;
  grid-row: 1/4;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #696f45;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

input[type="file"] {
  display: none;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 1050px) {
  .background {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50px 4fr 100px;
  }
}
@media only screen and (max-width: 930px) {
  .loginButton {
    font-size: 18px;
    padding: 10px;
  }
  .title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .background {
    grid-template-columns: 10px auto 10px;
  }
}
