.text{
    position: relative;
    padding-left:6%;
    padding-right: 6%;    
}
.text:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
       rgba(255,255,255, 1) 20%, 
       rgba(255,255,255, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
  }

.image{
    height:255px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 2;
    transform:translate(-10px, -10px);
}
.image:hover{
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    transform:translate(170px, -10px);
    z-index: 1;
    left:-160px;
}
.articleHalf{
    background:#111;
    height:255px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 1;
    transform:translate(-10px, -10px);
}
.articleHalf:hover{
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    transform:translate(-160px);
    z-index: 2;
    left:160px;
}
.hottestPost{
    position:relative;
    background-color: #FFFFFF;
    border-radius: 3%;
    
}
.articleHalf{
    display: grid;
    position: relative;
    padding:20px;
    box-sizing:border-box;
    background:#111;
}
.articleHalf p{
    margin:10px 0 0;
    padding:0;
    color:#fff;
}

.button{
    width:30%;
    background-color: #FAE4CE;
    
    border-radius: 20px ;
    border:none;
    padding:10px;
    box-shadow: 3px 3px grey;
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-weight: bold;
    z-index: 3;
    justify-self:center;
    position: absolute;
    bottom: 35%;
    
    
    
}
