
.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 170px;
}
.add {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}
.field{
    display: flex;
    flex-direction: column;
    padding-bottom:0px;
}
.textareaDescription {
  font-size: 20px;
  margin-bottom: 5px;
}
.text {
  display: flex;
  flex-grow: 1;
}
.textarea2 {
  background-color: white;

  color: lightslategray;
  padding: 1% 50px;
  text-align: left;
  text-decoration: none;

  display: flex;
  flex-grow: 1;
  height: max-content;

  font-size: 15px;
  cursor: auto;

  border-color: gray;
  border-radius: 10px;

  outline: none;
  resize: none;
}
.textarea2:focus {
  box-shadow: 0px 0px 8px 0 #28a535;
  border-color: #28a535;
}
.charNumber {
  display: flex;
  justify-content: flex-end;
  color: gray;
  margin-top: 5px;
  margin-bottom: 30px;
}
.insert {
  background-color: #696f45;
  color: white;
  text-align: center;

  padding: 12px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  border: none;

  box-shadow: 0px 0px 8px 0 lightgray;
  outline: none;
  transition: transform 0.2s;
}
.insert:hover {
  background-color: #28a535;
}
.buttonDiv{
  padding:12px;
  margin-bottom: 30px;
}
.buttonDiv2{
  padding:12px;
 
}
.pictureHolder{
  border-radius: 50%;
  
}
.picHolderDiv{
  padding-left:12px;
  margin-bottom: 15px;

}
.progress{
  padding:12px;
  font-size: 16px;
  line-height: 1.2;
}
.buttonUpload{
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: transform 0.2s;
  background-color: #e5e6de;

  margin:5px;
  margin-left:0px;
}
.buttonUpload:hover{
  background-color: #28a535;
  color: white;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

.buttonLabel{
  margin-top: 5px;
  transition: transform 0.2s;
  cursor: pointer;
  margin-bottom: 15px;
  height: 40px;
  width: 70px;
  padding: 0px;
  border: none;
  background-color: #e5e6de;
  outline: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0 lightgrey;
  font-size: 12px;
    line-height: 1.2;
}

/*.button {
  background-color: #4caf50; /* Green 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.ref {
  margin-top: auto;
}
*/
input[type="file"] {
  display: none;
}
